@mixin alt-page {
  align-items: center;
  display: flex;
  justify-content: center;

  h1, h3 {
    font-weight: 300;
    margin: 0;
    text-align: center;
  }

  h1 {
    font-size: 1.8rem;
  }

  header span {
    font-weight: 500;
  }

  .el-card {
    margin-top: 1.5rem;
    width: 315px;
  }

  .el-form-item {
    margin: 0 0 0.4rem;
    transition: all 0.2s linear;

    .el-form-item__label {
      line-height: 1rem;
      margin: 0;
      padding: 0.5rem 0;
    }

    &.is-error {
      margin: 0 0 1rem;
    }

    &.is-button {
      margin: 1.5rem 0 0.4rem;

      .el-button {
        width: 100%;
      }

      .el-button+.el-button {
        margin: 1rem 0 0;
      }
    }

    &:first-child {
      .el-form-item__label {
        padding-top: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}